@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.revsecomponentone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #F5F0E1;
    
}
.revsetextforcardone{
    padding-left:5%;
    max-width: 40%;
    text-align:left;
    padding-right: 4%;
    align-self: center;

    
}
.revseimageone{
    max-width:60%;
    text-align: left;
   
}
.revsecomponentone img {
    width: 95%;
    height: 45%;
    margin-left: 5%;
    border-radius: 5%;
    object-fit: cover;
}
.revsereadmoreone {
    display: inline-block;
    padding: 10px 20px ;
    background: #FFFCF2;
    border-radius: 8%;
    border: 2px solid #6C1E3C;
    color: #6C1E3C;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-family: "Inter";
    font-weight: 700;
    font-size: medium;
}

.revsereadmoreone:hover {   
    background-color: #6C1E3C;
    color: #FFFCF2;
    transition: background-color 0.3s ease;
}
.headingone{
    font-family: "Poppins";
    font-size: xx-large;
    font-weight: 600;

}
.revsetextinsideone{
    font-family: "Poppins";
    font-size:larger;
    font-weight: 500;
}

@media only screen and (max-width: 430px) and (max-height: 932px) {
    
    .componentone {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .revsecomponentone img {
        order: 1;
        width: 20%;
        height: auto;
    }

    .revsetextforcardone {
        order: 2;
        padding: 1rem;
        font-size: medium;

    }
    .revseheadingone{
        font-size: medium;

    }
    .revsetextinsideone{
        font-size:small;
    }
}